$secondary: #19886b;
$primary: #faf4e4;
.searchresult_container {
  .searchresult_header {
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: space-between;
    background: $secondary;
    padding: 1rem;
    color: $primary;
  }
  .icons {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    align-items: center;
    ::placeholder {
      color: #fff;
    }
  }
}
//css for dropdown
#form-div {
  border: 1px solid #e6eaf0;
  border-radius: 30px !important;
  box-sizing: border-box;
  height: 34px;
  margin-bottom: 0 !important;
}
.list_container {
  padding: 60px;
  a {
    text-decoration: none;
  }
}
.list_repo {
  padding: 1rem 0 1rem 0;
  border-bottom: 1px solid black;
  a {
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
    color: #0d4436;

    &:hover {
      text-decoration: underline;
    }
  }
  .description {
    font-size: 0.9rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .details {
    font-size: 0.7rem;
    display: flex;
    gap: 1rem;
    line-height: 1.25rem;
  }
  .stars {
    font-size: 0.7rem;
  }
  .forks {
    font-size: 0.7rem;
  }
}
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
  font-size: 0.9rem;
}
.icons_pagination {
  display: flex;
  justify-content: center;
  gap: 18px;

  align-items: center;
  ::placeholder {
    color: #fff;
  }
}
//details page
.repodetails_container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  .repodetail_header {
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: space-between;
    background-color: $secondary;
    padding: 1rem;
    color: $primary;
  }
  .section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding: 2rem;
    margin: auto;
    gap: 1rem;
    width: 75%;
  }
  .namelink {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    font-size: 1.25rem;
    text-decoration: none;
    color: black;

    &:hover {
      text-decoration: underline;
    }
  }
}
.pagination_button {
  padding: 5px 10px;
  border: none;
}
.active {
  background-color: red;
  padding: 5px 10px;
  color: #fff;
  border: none;
}
